.container {
    padding: 20px;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
  }
  
  .highlightsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .highlight {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(50% - 20px);
    text-align: center;
  }
  
  .highlightImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .highlight h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #333;
  }
  
  .highlight p {
    font-size: 14px;
    color: #555;
  }
  
  .viewButton {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease-in-out;
  }
  
  .viewButton:hover {
    background-color: #0056b3;
  }