/* NotFound.module.css */
.container {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px;
  }
  
  .heading {
    font-size: 36px;
    color: #ff6347; /* Cor do título */
    margin-bottom: 20px;
  }
  
  .message {
    font-size: 24px;
    color: #333; /* Cor da mensagem */
    margin-bottom: 20px;
  }
  
  .link {
    color: #007bff; /* Cor do link */
    text-decoration: none;
    font-weight: bold;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .gifContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .gif {
    max-width: 100%;
    height: auto;
  }
  