.container {
    padding: 20px;
    text-align: center;
}

.smartphoneImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.descricaoExtensa {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.preco {
    font-weight: bold;
    font-size: 18px;
    color: #007BFF;
    font-family: 'Poppins', sans-serif;
}