.container {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    text-align: center;
}

.smartphoneImage {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.descricaoExtensa {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.preco {
    font-weight: bold;
    font-size: 18px;
    color: #007BFF;
    font-family: 'Poppins', sans-serif;
}

/* Estilos para os botões */
.deleteButton {
    background-color: #9b444d; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px; 
    margin-top: 20px;
}

.deleteButton:hover {
    background-color: #c82333; 
}

.editButton {
    background-color: #ffc107; 
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px; 
    margin-top: 20px;
}

.editButton:hover {
    background-color: #e0a800; 
}

.goBackLink {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px; 
    margin-top: 20px;
}

